.dropdown {
	position: relative;
}

.dropdown-button {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	font-weight: 600;
	color: #555;

	.icon {
		fill: #555;
	}
}

.dropdown-button-label {
	color: #999;
	font-weight: 500;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 5px;
	padding: 10px 5px;
	border-radius: 10px;
	width: 200px;
	background-color: #fff;
	border: 1px solid #dddddd;
	box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 10%);
	opacity: 0;
	visibility: hidden;

	&.open {
		opacity: 1;
		visibility: visible;
	}
}

.dropdown-menu-option {
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
	margin-bottom: 5px;

	&:hover,
	&.selected {
		background-color: #f6f6f6;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
