@import '../../styles/variables';

.dropdown {
	position: relative;
}

.dropdown-button {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	font-weight: 600;
	color: #555;
}

.dropdown-button-label {
	color: #999;
	font-weight: 500;
}

.dropdown-menu {
	position: absolute;
	z-index: 1;
	top: 100%;
	right: 0;
	padding: 8px;
	border-radius: 8px;
	width: 200px;
	background-color: #fff;
	border: 1px solid #dddddd;
	box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 10%);
	opacity: 0;
	visibility: hidden;
	transform: translateY(0);
	transition: all $base-transition-speed ease-in-out;

	&.open {
		opacity: 1;
		visibility: visible;
		transform: translateY(5px);
	}
}

.dropdown-menu-option {
	padding: 6px 8px;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 600;
	margin-bottom: 4px;

	&:hover,
	&.selected {
		background-color: #f6f6f6;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
