.page-header {
	background-color: #000;
	color: #fff;
	padding: 0.5rem 2rem;
	flex-shrink: 0;
	display: flex;
	height: 6rem;
	align-items: center;
	gap: 40px;
}

.page-header-nav {
	flex-grow: 1;
	display: flex;
	gap: 40px;
}

.page-header-nav-item {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	gap: 10px;
	text-decoration: none;
	color: #aaa;

	&:hover,
	&.selected {
		color: #fff;
	}
}

.page-header-nav-item--right {
	margin-left: auto;
}
