@import './styles/_variables.scss';

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family:
		'Work Sans',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.2px;
	background-color: $background-color;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: $text-color;
}


.tag {
	display: inline-flex;
	border-radius: 12px;
	color: $tag-color;
	background-color: $tag-background-color;
	padding: 0 10px;
	font-weight: 600;
}

.dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: $dot-color;
}

.icon {
	display: inline-flex;
}

.timestamp {
	color: $timestamp-color;
	font-size: 12px;
	font-weight: 500;
}

@import './styles/_layout.scss';