@import './variables';

.page-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.page-container {
	flex-grow: 1;
	overflow-y: auto;
	display: flex;
	position: relative;
}

.page-content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 40px;
}

.flex-child-grow {
	flex-grow: 1;
	min-width: 0;
}

.flex-child-shrink {
	flex-shrink: 0;
}

@media screen and (max-width: $page-breakpoint) {
	.page-content {
		padding: 20px;
	}
}
