// Main Colors
$background-color: #f6f8fa;
$text-color: #000000;

// Button Colors
$button-color: #999999;
$button-disabled-color: #aaaaaa;
$button-hover-color: #666666;
$button-primary-color: #2f80ed;
$button-primary-hover-color: #173f73;

// Sidebar Colors
$sidebar-background-color: #ffffff;
$sidebar-border-color: #dddddd;
$sidebar-text-color: #000000;
$sidebar-hover-color: #f0f0f0;

// Other Component Colors
$tag-color: #999999;
$tag-background-color: #f6f6f6;
$dot-color: #d2d5db;
$timestamp-color: #999999;

/* Animation Speed */
$base-transition-speed: 0.3s;
$slow-transition-speed: 0.6s;
